html, body {
  height: 100vh;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 20px 0 0;
}

.wrapper {
  height: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 68px auto 68px;
}

header {
  background-color: rgb(39, 91, 168);
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-rows: 58px auto 58px;
}

nav {
  background-color: rgb(241, 156, 38);
  padding: 20px;
  font-size: 16px;
}

main {
  padding: 20px;
}

.links {
  background-color: rgb(115, 15, 62);
}

footer {
  background-color: rgb(62, 165, 27);
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

@media (min-width: 800px) {
  .content {
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
  }
}
