.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
