@charset "UTF-8";
/* Очищаем отступы и границы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Меняем подсчет ширины блока (padding и border включены в размеры блока) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Делаем перечисленные html тэги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* Уравниваем параметры шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Делаем чтобы тэги input наследовали семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Objective";
  src: url("fonts/Objective-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("fonts/Objective-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("fonts/Objective-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("fonts/Objective-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html, body {
  height: 100vh;
}

body {
  background-color: rgba(128, 128, 128, 0.5);
}

.wrapper {
  background-color: rgb(255, 255, 255);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: Objective;
  margin: 0 auto;
}

header {
  padding: 20px 20px 60px;
  background: linear-gradient(to top, #FFFFFF -17.33%, rgba(74, 153, 211, 0) 75.91%), rgba(74, 153, 211, 0.2);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
}
header .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
}
header .logo {
  color: rgb(74, 153, 211);
  font-size: 20px;
  font-weight: bold;
}
header .menu {
  font-weight: 500;
  font-size: 12px;
}
header .menu a {
  display: inline-block;
  padding: 0 5px;
  color: rgb(15, 0, 26);
}
header .menu a:hover {
  color: rgb(109, 192, 250);
}
header .menu a.active {
  color: rgb(74, 153, 211);
}
header .menu a.active:hover {
  color: rgb(109, 192, 250);
}
header .content {
  display: flex;
  flex-direction: column;
}
header .about {
  color: rgb(38, 0, 65);
}
header .about h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}
header .about p {
  font-size: 12px;
  line-height: 1.4;
  padding: 20px 0;
}
header .about .links {
  display: flex;
}
header .about a {
  display: flex;
  align-content: center;
  background-color: rgb(74, 153, 211);
  border-radius: 2px;
  margin-right: 10px;
  padding: 6px 12px;
}
header .about a:hover {
  background-color: rgb(109, 192, 250);
}
header .about img.google-play {
  display: block;
  width: 80px;
}
header .about img.app-store {
  display: block;
  width: 80px;
}
header .phones-image {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1;
}
main .description {
  padding: 40px 20px;
  position: relative;
}
main .description .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .description h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(38, 0, 65);
  text-align: center;
  padding: 0 0 10px;
}
main .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  min-height: 360px;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  margin: 40px auto 0;
  padding: 20px;
}
main .card .image-1 {
  width: 170px;
  height: 160px;
  margin: -48px auto 0 26px;
}
main .card .image-2 {
  width: 140px;
  height: 110px;
  margin: 0 auto 0 20px;
}
main .card .image-3 {
  width: 120px;
  height: 110px;
  margin: 0 auto 0 40px;
}
main .card h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(15, 0, 26);
  padding: 20px 0 10px;
}
main .card p {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}
main .card .learn-more {
  padding: 20px 0 0;
  font-size: 10px;
  font-weight: 500;
}
main .card .learn-more a {
  display: inline-block;
  transition: all 0.2s ease;
  color: rgb(74, 153, 211);
}
main .card .learn-more a:hover {
  color: rgb(109, 192, 250);
  transition: all 0.2s ease;
  transform: scale(105%, 105%);
}
main .card .learn-more span {
  position: relative;
}
main .card .learn-more span::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 1px;
  width: 8px;
  height: 8px;
  background-size: cover;
  background-image: url(images/arrow.svg);
  z-index: 1;
}
main .card-1, main .card-2, main .card-3 {
  position: relative;
  background-color: rgb(255, 255, 255);
}
main .card-1::before, main .card-2::before, main .card-3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("images/dots.svg");
  z-index: -1;
}
main .card-1::before {
  right: -30px;
  top: -30px;
}
main .card-2::before {
  left: -30px;
  top: 40%;
}
main .card-3::before {
  right: -30px;
  bottom: -30px;
}
main .description::after, main .description::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
}
main .description::after {
  background-image: url(images/blue-squares.svg);
  top: -100px;
  right: -6px;
}
main .description::before {
  transform: rotate(180deg);
  background-image: url(images/orange-squares.svg);
  bottom: -100px;
  left: -6px;
  z-index: -1;
}
main .instructions {
  padding: 30px 20px;
  background-color: rgba(74, 153, 211, 0.1);
  text-align: center;
}
main .instructions h2 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(74, 153, 211);
}
main .instructions .items {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
main .instructions .item {
  padding: 20px 0 0;
}
main .instructions .item img {
  width: 30px;
  height: 30px;
}
main .instructions .item h3 {
  font-size: 12px;
  font-weight: 500;
  color: rgb(15, 0, 26);
  padding: 10px 0;
}
main .instructions .item p {
  font-size: 12px;
  line-height: 1.4;
}
main .feedbacks {
  padding: 20px 0;
  position: relative;
}
main .feedbacks h2 {
  font-size: 14px;
  font-weight: bold;
  color: rgb(15, 0, 26);
  text-align: center;
  padding: 10px 0 20px;
}
main .feedbacks .carousel {
  position: relative;
  padding-top: 300px;
}
main .feedbacks .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
main .feedbacks .slide {
  display: inline-block;
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  width: 100%;
  padding: 20px 20px 60px 0;
}
main .feedbacks .photo {
  width: 160px;
  flex: 1 0 auto;
  background-color: rgba(74, 153, 211, 0.1);
  position: relative;
}
main .feedbacks .photo::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 110%;
  bottom: 0;
  left: 10px;
  background-image: url("images/photo-1.png");
  background-size: cover;
  z-index: 1;
}
main .feedbacks .feedback {
  padding: 0 0 0 30px;
  overflow-y: auto;
}
main .feedbacks .feedback img {
  width: 20px;
  height: 20px;
}
main .feedbacks .feedback p {
  font-size: 10px;
  line-height: 1.4;
  padding: 10px 0 0;
}
main .feedbacks .feedback h3 {
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0 0;
}
main .feedbacks .carousel::before,
main .feedbacks .carousel::after,
main .feedbacks .prev,
main .feedbacks .next {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  font-size: 0;
  outline: 0;
}
main .feedbacks .carousel::before,
main .feedbacks .prev {
  right: 50px;
}
main .feedbacks .carousel::after,
main .feedbacks .next {
  right: 20px;
}
main .feedbacks .carousel::before,
main .feedbacks .carousel::after {
  content: "";
  z-index: 1;
  bottom: 15px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
main .feedbacks .carousel::before {
  background-color: rgb(74, 153, 211);
  background-image: url("images/arrow-left.svg");
}
main .feedbacks .carousel::after {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  background-image: url("images/arrow-right.svg");
}
main .feedbacks::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-size: contain;
  background-image: url(images/dots.svg);
  top: -36px;
  right: -20px;
  z-index: 0;
}
main .download {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 80px;
}
main .download img {
  width: 200px;
}
main .download h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px 10px;
  text-align: center;
  color: rgb(15, 0, 26);
}
main .download p {
  font-size: 12px;
  line-height: 1.4;
  color: rgb(15, 0, 26);
  opacity: 0.5;
  text-align: center;
}
main .download .links {
  display: flex;
  padding: 20px 0 0;
  justify-content: center;
}
main .download .links img {
  width: 100px;
}
main .download .links a {
  margin: 0 10px 0 0;
  transition: all 0.2s ease;
}
main .download .links a:hover {
  transition: all 0.2s ease;
  transform: scale(107%, 107%);
}
main .download::after, main .download::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-size: contain;
}
main .download::after {
  transform: rotate(180deg);
  background-image: url(images/blue-squares.svg);
  bottom: -50px;
  left: -20px;
}
main .download::before {
  background-image: url(images/orange-squares.svg);
  bottom: -50px;
  right: -20px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 153, 211);
  color: rgb(255, 255, 255);
  z-index: 1;
}
footer section {
  display: flex;
}
footer .additional-information {
  flex-direction: column;
  padding: 20px 20px 10px;
}
footer .navbar {
  display: flex;
  flex-direction: column;
}
footer nav {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
footer .links {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 0;
}
footer .links h2 {
  font-size: 12px;
  text-decoration: underline;
  padding: 14px 0 5px;
}
footer .links a {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 10px 0 0;
  transition: all 0.2s ease;
}
footer .links a:hover {
  transition: all 0.2s ease;
  color: rgb(15, 0, 26);
}
footer .logo {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
footer form {
  padding: 30px 0 20px;
}
footer form p {
  font-size: 12px;
  line-height: 1.4;
  padding: 0 0 10px;
}
footer form input {
  padding: 8px;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 5px;
}
footer form button {
  color: rgb(74, 153, 211);
  background-color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  transition: all 0.2s ease;
}
footer form button:hover {
  transition: all 0.2s ease;
  color: rgb(109, 192, 250);
  transform: scale(110%, 110%);
}
footer .follow-us {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 8px;
}
footer .follow-us a {
  margin: 0 8px 0 0;
}
footer .follow-us img {
  width: 20px;
  height: 16px;
  transition: all 0.2s ease;
}
footer .follow-us img:hover {
  transition: all 0.2s ease;
  transform: scale(110%, 110%);
}

@media (min-width: 481px) {
  header {
    padding: 30px 40px 45px;
  }
  header .main-menu {
    padding: 0 0 40px;
  }
  header .logo {
    font-size: 24px;
  }
  header .menu {
    font-size: 14px;
  }
  header .menu a {
    padding: 0 0 0 20px;
  }
  header .content {
    flex-direction: row;
  }
  header .about h1 {
    font-size: 28px;
  }
  header .about p {
    font-size: 14px;
    line-height: 1.6;
    padding: 14px 32px 40px 0;
  }
  header .about a {
    border-radius: 4px;
    margin-right: 20px;
    padding: 8px 16px;
  }
  header .about img.google-play {
    width: 100px;
  }
  header .about img.app-store {
    width: 100px;
  }
  main .description {
    padding: 50px 40px 60px;
  }
  main .description h2 {
    font-size: 22px;
    line-height: 1.4;
  }
  main .card {
    max-width: 320px;
    min-height: 420px;
    margin: 0;
    padding: 30px;
  }
  main .card .image-1 {
    width: 200px;
    height: 166px;
    margin: -46px auto 20px 34px;
  }
  main .card .image-2 {
    width: 162px;
    height: 112px;
    margin: 0 auto 20px 32px;
  }
  main .card .image-3 {
    width: 146px;
    height: 121px;
    margin: 0 auto 20px 50px;
  }
  main .card h3 {
    font-size: 18px;
    padding: 20px 0 16px;
  }
  main .card p {
    font-size: 14px;
    line-height: 1.6;
  }
  main .card .learn-more {
    padding: 20px 0 0;
    font-size: 12px;
  }
  main .card .learn-more span::after {
    right: -20px;
    top: 0;
    width: 12px;
    height: 12px;
  }
  main .card-1, main .card-2, main .card-3 {
    margin: 40px auto 0;
  }
  main .card-1::before, main .card-2::before, main .card-3::before {
    width: 110px;
    height: 110px;
  }
  main .card-1::before {
    right: -34px;
    top: -34px;
  }
  main .card-2::before {
    left: -55px;
    top: 36%;
  }
  main .card-3::before {
    right: -34px;
    bottom: -34px;
  }
  main .description::after, main .description::before {
    width: 120px;
    height: 120px;
  }
  main .description::after {
    top: -120px;
  }
  main .description::before {
    bottom: -120px;
  }
  main .instructions {
    padding: 60px 40px;
  }
  main .instructions h2 {
    font-size: 20px;
    font-weight: bold;
  }
  main .instructions .items {
    padding: 10px 0 0;
  }
  main .instructions .item {
    padding: 30px 0 0;
  }
  main .instructions .item img {
    width: 50px;
    height: 50px;
  }
  main .instructions .item h3 {
    font-size: 16px;
    padding: 20px 0 10px;
  }
  main .instructions .item p {
    font-size: 14px;
    line-height: 1.4;
  }
  main .feedbacks {
    padding: 40px 0;
  }
  main .feedbacks h2 {
    font-size: 20px;
    padding: 10px 0 40px;
  }
  main .feedbacks .slide {
    padding: 20px 40px 40px 0;
  }
  main .feedbacks .feedback {
    padding: 0 0 0 40px;
  }
  main .feedbacks .feedback p {
    font-size: 12px;
    line-height: 1.4;
  }
  main .feedbacks .feedback h3 {
    padding: 16px 0 0;
  }
  main .feedbacks .carousel::before,
main .feedbacks .carousel::after,
main .feedbacks .prev,
main .feedbacks .next {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .prev {
    right: 80px;
  }
  main .feedbacks .carousel::after,
main .feedbacks .next {
    right: 50px;
  }
  main .feedbacks::after {
    width: 120px;
    height: 120px;
    top: -36px;
    right: 0;
  }
  main .download {
    padding: 30px 40px 70px;
  }
  main .download img {
    width: 300px;
  }
  main .download h2 {
    font-size: 20px;
    padding: 40px 10px 20px;
  }
  main .download p {
    font-size: 12px;
    line-height: 1.4;
  }
  main .download .links {
    padding: 30px 0 0;
  }
  main .download .links img {
    width: 100px;
  }
  main .download .links a {
    margin: 0 8px;
  }
  main .download::after, main .download::before {
    width: 120px;
    height: 120px;
  }
  main .download::after {
    bottom: -50px;
    left: -10px;
  }
  main .download::before {
    bottom: -50px;
    right: -10px;
  }
  footer .additional-information {
    padding: 30px 40px 28px 40px;
  }
  footer .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  footer nav {
    font-size: 12px;
  }
  footer .links {
    padding: 0 0 0 30px;
  }
  footer .links h2 {
    font-size: 14px;
    padding: 0 0 5px;
  }
  footer .links a {
    padding: 10px 0 0;
  }
  footer .logo {
    font-size: 24px;
  }
  footer form {
    padding: 30px 0 0;
  }
  footer form p {
    font-size: 12px;
    padding: 0 0 10px;
  }
  footer form input {
    padding: 10px 8px;
    font-size: 12px;
    margin-right: 10px;
    min-width: 300px;
  }
  footer form button {
    padding: 10px 8px;
    font-size: 12px;
  }
  footer .follow-us {
    padding: 14px 40px;
  }
  footer .follow-us a {
    margin: 0 8px 0 0;
  }
  footer .follow-us img {
    width: 14px;
  }
}
@media (min-width: 768px) {
  header {
    padding: 35px 60px 60px;
  }
  header .main-menu {
    padding: 0 0 70px;
  }
  header .logo {
    font-size: 28px;
  }
  header .menu {
    font-size: 14px;
  }
  header .menu a {
    padding: 0 0 0 16px;
  }
  header .content {
    flex-direction: row;
  }
  header .about h1 {
    font-size: 26px;
    max-width: 76%;
  }
  header .about p {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 26px 30px 0;
  }
  header .about a {
    border-radius: 3px;
    margin-right: 12px;
    padding: 8px 18px;
  }
  header .about img.google-play {
    width: 80px;
  }
  header .about img.app-store {
    width: 80px;
  }
  header .phones-image {
    display: block;
    margin: -54px -40px 0 0;
  }
  header .phones-image img {
    width: 300px;
  }
  main .description {
    padding: 110px 60px 100px;
  }
  main .description .container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }
  main .description h2 {
    width: 42%;
    font-size: 22px;
    line-height: 1.4;
    text-align: start;
  }
  main .card {
    max-width: 320px;
    min-height: 420px;
    margin: 0;
    padding: 30px;
  }
  main .card .image-1 {
    width: 200px;
    height: 166px;
    margin: -46px auto 20px 34px;
  }
  main .card .image-2 {
    width: 162px;
    height: 112px;
    margin: 0 auto 20px 32px;
  }
  main .card .image-3 {
    width: 146px;
    height: 121px;
    margin: 0 auto 20px 50px;
  }
  main .card h3 {
    font-size: 18px;
    padding: 20px 0 16px;
  }
  main .card p {
    font-size: 14px;
    line-height: 1.6;
  }
  main .card .learn-more {
    padding: 20px 0 0;
    font-size: 12px;
  }
  main .card .learn-more span::after {
    right: -20px;
    top: 0;
    width: 12px;
    height: 12px;
  }
  main .card-1, main .card-2, main .card-3 {
    display: flex;
  }
  main .card-1 {
    align-self: flex-end;
    margin: -68px 0 0;
  }
  main .card-2 {
    margin: -240px 0 0;
  }
  main .card-3 {
    align-self: flex-end;
    margin: -160px 0 0;
  }
  main .description::after, main .description::before {
    width: 120px;
    height: 120px;
  }
  main .description::after {
    top: 0;
    right: -10px;
  }
  main .description::before {
    bottom: 0;
    left: -10px;
    z-index: 1;
  }
  main .instructions {
    padding: 60px;
  }
  main .instructions h2 {
    font-size: 20px;
  }
  main .instructions .items {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0;
  }
  main .instructions .item {
    padding: 0 30px;
  }
  main .instructions .item img {
    width: 50px;
    height: 50px;
  }
  main .instructions .item h3 {
    font-size: 16px;
    padding: 20px 0 10px;
  }
  main .instructions .item p {
    font-size: 14px;
    line-height: 1.4;
  }
  main .feedbacks {
    padding: 60px 0;
    position: relative;
  }
  main .feedbacks h2 {
    font-size: 20px;
    padding: 0;
  }
  main .feedbacks .carousel {
    padding-top: 500px;
  }
  main .feedbacks .slide {
    padding: 80px 40px 60px 0;
  }
  main .feedbacks .photo {
    width: 400px;
  }
  main .feedbacks .photo::after {
    width: 300px;
    height: 380px;
    left: 50px;
  }
  main .feedbacks .feedback {
    padding: 40px 0 0 40px;
  }
  main .feedbacks .feedback img {
    width: 40px;
    height: 36px;
  }
  main .feedbacks .feedback p {
    font-size: 12px;
    line-height: 1.4;
    padding: 20px 0 0;
  }
  main .feedbacks .feedback h3 {
    font-size: 14px;
    padding: 30px 0 0;
  }
  main .feedbacks .carousel::before,
main .feedbacks .carousel::after,
main .feedbacks .prev,
main .feedbacks .next {
    width: 50px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .prev {
    right: 100px;
  }
  main .feedbacks .carousel::after,
main .feedbacks .next {
    right: 50px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .carousel::after {
    bottom: 17px;
  }
  main .feedbacks::after {
    width: 110px;
    height: 110px;
    top: 100px;
    right: 0;
  }
  main .download {
    flex-direction: row;
    align-items: center;
    padding: 40px 60px 100px;
  }
  main .download img {
    width: 300px;
  }
  main .download div {
    padding: 0 0 0 40px;
  }
  main .download h2 {
    font-size: 20px;
    padding: 10px 10px 20px;
  }
  main .download p {
    font-size: 14px;
    line-height: 1.4;
  }
  main .download .links {
    padding: 30px 0 0;
  }
  main .download .links img {
    width: 100px;
  }
  main .download .links a {
    margin: 0 6px;
  }
  main .download::after, main .download::before {
    width: 120px;
    height: 120px;
  }
  main .download::after {
    bottom: -40px;
    left: -10px;
  }
  main .download::before {
    bottom: -40px;
    right: -10px;
  }
  footer .additional-information {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 40px 28px;
  }
  footer .navbar {
    flex: 1 0 auto;
    justify-content: space-between;
  }
  footer nav {
    font-size: 12px;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
  }
  footer .links h2 {
    font-size: 14px;
    padding-bottom: 5px;
  }
  footer .links a {
    padding: 14px 0 0;
  }
  footer .logo {
    font-size: 26px;
  }
  footer form {
    padding: 0 0 0 50px;
    max-width: 44%;
  }
  footer form p {
    font-size: 14px;
    padding: 0 0 14px;
  }
  footer form input {
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 10px;
    min-width: 10px;
  }
  footer form button {
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 3px;
  }
  footer .follow-us {
    padding: 18px 60px;
    font-size: 10px;
  }
  footer .follow-us a {
    margin: 0 8px 0 0;
  }
  footer .follow-us img {
    width: 22px;
    height: 16px;
  }
}
@media (min-width: 1025px) {
  header {
    padding: 40px 80px 60px;
  }
  header .main-menu {
    padding: 0 0 100px;
  }
  header .logo {
    font-size: 32px;
  }
  header .menu {
    font-size: 16px;
  }
  header .menu a {
    padding: 0 0 0 20px;
  }
  header .about h1 {
    font-size: 32px;
    line-height: 1.4;
    max-width: 76%;
  }
  header .about p {
    font-size: 14px;
    line-height: 1.6;
    padding: 20px 40px 40px 0;
  }
  header .about a {
    border-radius: 4px;
    margin-right: 16px;
    padding: 10px 20px;
  }
  header .about img.google-play {
    width: 100px;
  }
  header .about img.app-store {
    width: 100px;
  }
  header .phones-image {
    margin: -80px -60px 0 0;
  }
  header .phones-image img {
    width: 400px;
  }
  main .description {
    padding: 160px 80px;
  }
  main .description .container {
    max-width: 860px;
    margin: 0 auto;
  }
  main .description h2 {
    width: 35%;
    font-size: 30px;
    line-height: 40px;
    text-align: start;
  }
  main .card {
    max-width: 380px;
    min-height: 525px;
    margin: 0;
    padding: 48px;
  }
  main .card .image-1 {
    width: 224px;
    height: 197px;
    margin: -76px auto 20px 34px;
  }
  main .card .image-2 {
    width: 182px;
    height: 132px;
    margin: -20px auto 20px 22px;
  }
  main .card .image-3 {
    width: 156px;
    height: 131px;
    margin: -20px auto 20px 50px;
  }
  main .card h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 16px;
  }
  main .card p {
    font-size: 16px;
    line-height: 1.6;
  }
  main .card .learn-more {
    padding: 40px 0 0;
    font-size: 14px;
  }
  main .card .learn-more span::after {
    right: -30px;
    top: -1px;
    width: 16px;
    height: 16px;
  }
  main .card-1, main .card-2, main .card-3 {
    display: flex;
  }
  main .card-1 {
    align-self: flex-end;
    margin: -126px 0 0;
  }
  main .card-2 {
    margin: -240px 0 0;
  }
  main .card-3 {
    align-self: flex-end;
    margin: -200px 0 0 0;
  }
  main .card-1::before, main .card-2::before, main .card-3::before {
    width: 134px;
    height: 134px;
  }
  main .card-1::before {
    right: -64px;
    top: -64px;
  }
  main .card-2::before {
    left: -88px;
    top: 36%;
  }
  main .card-3::before {
    right: -64px;
    bottom: -64px;
  }
  main .description::after, main .description::before {
    width: 198px;
    height: 198px;
  }
  main .description::after {
    top: 0;
    right: -10px;
  }
  main .description::before {
    bottom: 0;
    left: -10px;
    z-index: 1;
  }
  main .instructions {
    padding: 80px 60px;
  }
  main .instructions h2 {
    font-size: 26px;
    font-weight: bold;
  }
  main .instructions .items {
    flex-direction: row;
    justify-content: space-between;
    padding: 91px 0 0;
  }
  main .instructions .item {
    padding: 0 40px;
  }
  main .instructions .item img {
    width: 57px;
    height: 57px;
  }
  main .instructions .item h3 {
    font-size: 18px;
    padding: 33px 0 10px;
  }
  main .instructions .item p {
    font-size: 16px;
    line-height: 1.4;
  }
  main .feedbacks {
    padding: 80px 0;
    position: relative;
  }
  main .feedbacks h2 {
    font-size: 26px;
    padding: 0;
  }
  main .feedbacks .carousel {
    padding-top: 580px;
  }
  main .feedbacks .slide {
    padding: 80px 90px 60px 0;
  }
  main .feedbacks .photo {
    width: 500px;
  }
  main .feedbacks .photo::after {
    width: 386px;
    height: 500px;
    left: 60px;
  }
  main .feedbacks .feedback {
    padding: 60px 0 0 60px;
  }
  main .feedbacks .feedback p {
    font-size: 14px;
    line-height: 1.4;
    padding: 30px 0 0;
  }
  main .feedbacks .feedback h3 {
    font-size: 16px;
    padding: 40px 0 0;
  }
  main .feedbacks .carousel::before,
main .feedbacks .carousel::after,
main .feedbacks .prev,
main .feedbacks .next {
    width: 60px;
    height: 60px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .prev {
    right: 140px;
  }
  main .feedbacks .carousel::after,
main .feedbacks .next {
    right: 80px;
  }
  main .feedbacks::after {
    width: 134px;
    height: 134px;
    top: 100px;
    right: 0;
  }
  main .download {
    flex-direction: row;
    align-items: center;
    padding: 40px 60px 180px;
  }
  main .download img {
    width: 460px;
  }
  main .download div {
    padding: 0 0 0 60px;
  }
  main .download h2 {
    font-size: 26px;
    padding: 20px 10px 10px;
  }
  main .download p {
    font-size: 16px;
    line-height: 1.4;
  }
  main .download .links {
    padding: 40px 0 0;
  }
  main .download .links img {
    width: 136px;
  }
  main .download .links a {
    margin: 0 14px;
  }
  main .download::after, main .download::before {
    width: 198px;
    height: 198px;
  }
  main .download::after {
    bottom: -50px;
    left: -10px;
  }
  main .download::before {
    bottom: -50px;
    right: -10px;
  }
  footer .additional-information {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px 28px;
  }
  footer nav {
    font-size: 14px;
  }
  footer .links {
    padding: 0 0 0 40px;
  }
  footer .links h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  footer .links a {
    padding: 14px 0 0;
  }
  footer .logo {
    font-size: 30px;
  }
  footer form {
    padding: 0 0 0 70px;
  }
  footer form p {
    font-size: 14px;
    padding: 0 0 16px;
  }
  footer form input {
    padding: 12px 10px;
    font-size: 14px;
    margin-right: 10px;
  }
  footer form button {
    padding: 12px 10px;
    font-size: 14px;
  }
  footer .follow-us {
    padding: 20px 80px;
    font-size: 12px;
  }
  footer .follow-us a {
    margin: 0 8px 0 0;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 45px 140px 75px;
  }
  header .main-menu {
    padding: 0 0 100px;
  }
  header .logo {
    font-size: 40px;
  }
  header .menu {
    font-size: 18px;
  }
  header .menu a {
    padding: 0 0 0 20px;
  }
  header .about h1 {
    font-size: 40px;
    max-width: 76%;
  }
  header .about p {
    font-size: 20px;
    line-height: 1.8;
    padding: 14px 32px 60px 0;
  }
  header .about a {
    border-radius: 5px;
    margin-right: 20px;
    padding: 14px 22px;
  }
  header .about img.google-play {
    width: 134px;
    height: 31px;
  }
  header .about img.app-store {
    width: 127px;
    height: 34px;
  }
  header .phones-image {
    display: block;
    margin: 0 -90px 0 0;
  }
  header .phones-image img {
    width: 441px;
    height: 534px;
  }
  main .description {
    padding: 160px 140px;
  }
  main .instructions {
    padding: 80px;
  }
  main .feedbacks {
    padding: 100px 0 80px;
  }
  main .feedbacks h2 {
    font-size: 26px;
    padding: 0;
  }
  main .feedbacks .carousel {
    padding-top: 600px;
  }
  main .feedbacks .slide {
    padding: 130px 140px 60px 0;
  }
  main .feedbacks .photo {
    width: 600px;
  }
  main .feedbacks .photo::after {
    width: 399px;
    height: 519px;
    left: 100px;
  }
  main .feedbacks .feedback {
    padding: 40px 0 0 100px;
  }
  main .feedbacks .feedback img {
    width: 50px;
    height: 43px;
  }
  main .feedbacks .feedback p {
    font-size: 16px;
    line-height: 1.6;
    padding: 43px 0 0;
  }
  main .feedbacks .feedback h3 {
    font-size: 18px;
    padding: 40px 0 0;
  }
  main .feedbacks .carousel::before,
main .feedbacks .carousel::after,
main .feedbacks .prev,
main .feedbacks .next {
    width: 60px;
    height: 60px;
    border-radius: 4px 0px 0px 4px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .prev {
    right: 200px;
  }
  main .feedbacks .carousel::after,
main .feedbacks .next {
    right: 140px;
  }
  main .feedbacks::after {
    width: 134px;
    height: 134px;
    top: 250px;
    right: 0;
  }
  main .download {
    padding: 50px 140px 123px;
  }
  footer .additional-information {
    padding: 57px 80px 28px 124px;
  }
  footer .links {
    padding: 0 0 0 60px;
  }
  footer .links h2 {
    font-size: 18px;
  }
  footer .links a {
    padding: 18px 0 0;
  }
  footer .logo {
    font-size: 34px;
  }
  footer form {
    padding: 0 0 0 60px;
  }
  footer form p {
    font-size: 18px;
    padding: 0 0 20px;
  }
  footer form input {
    padding: 18px 12px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
    min-width: 64%;
  }
  footer form button {
    padding: 18px 16px;
    font-size: 16px;
    border-radius: 3px;
  }
  footer .follow-us {
    padding: 23px 124px;
    font-size: 10px;
  }
  footer .follow-us a {
    margin: 0 10px 0 0;
  }
  footer .follow-us img {
    width: 22px;
    height: 16px;
  }
}
@media (min-width: 1400px) {
  header {
    padding: 45px 245px 75px;
  }
  header .phones-image {
    margin: 0 -160px 0 0;
  }
  main .description {
    padding: 150px 245px;
  }
  main .description .container {
    max-width: 860px;
  }
  main .description h2 {
    width: 45%;
  }
  main .card-1 {
    margin: -80px 0 0;
  }
  main .card-2 {
    margin: -220px 0 0;
  }
  main .card-3 {
    margin: -230px 0 0;
  }
  main .instructions {
    padding: 95px 245px;
  }
  main .feedbacks .slide {
    padding: 130px 235px 60px 0;
  }
  main .feedbacks .photo {
    width: 677px;
  }
  main .feedbacks .photo::after {
    width: 399px;
    height: 519px;
    left: 178px;
  }
  main .feedbacks .carousel::before,
main .feedbacks .prev {
    right: 300px;
  }
  main .feedbacks .carousel::after,
main .feedbacks .next {
    right: 240px;
  }
  main .download {
    padding: 60px 167px 123px;
  }
  main .download img {
    width: 516px;
  }
  footer .additional-information {
    padding: 55px 124px 28px;
  }
  footer .additional-information .logo {
    padding: 0 85px 0 0;
  }
  footer .additional-information form {
    padding: 0 0 0 79px;
  }
  footer .additional-information input {
    min-width: 68%;
  }
  footer .follow-us {
    padding: 23px 124px;
  }
}/*# sourceMappingURL=styles.css.map */